body{
    background-color:#01070e;
}

.sidenav{
    background-color:lighten($color: #01070e, $amount:3);
    padding-left: 50px !important;
}


#gallery{

    min-height: 100vh;
    height: auto;
    color: #ffffff;
 padding:20px;
  #photo{

    margin:20px auto;
  img{
      width: 100%;
  }
  }
}