<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<link rel="stylesheet" type="text/css"  href="style.css">
<title>DASH</title>
</head>
<body>
<div class="container">
<div>
<header>
<h5>CORONA</h5><br><br><br>
</header>
<h1>CORONA<br>INFORMATION</h1>
<p>Coronavirus disease(COVID-19) is an infectious disease caused by a newly discovered coronavirus.<br>Most people infected with the COVID-19 virus will experience mild to moderatre respiratory illness and recover without requiring special treatment.</p><br><br>
<li><a href="https://who.int">MORE INFORMATION</a></li>
<h2>SYMPTOMS</h2>
<ul1>
<li><a2 href="#">COUGHING</a2></li>
<li><a2 href="#">FEVER</a2></li>
<li><a2 href="#">TIREDNESS</a2></li>
<li><a2 href="#">ACHES AND PAINS</a2></li>
</ul>
<header1>
<img src="3.jpg" width="250px" height="150px"><br><br><br>
</header1>
<i class="fa fa-instagram" aria-hidden="true" style="color: #fff"></i>
<i class="fa fa-facebook-official" aria-hidden="true" style="color: #fff"></i>
<i class="fa fa-twitter" aria-hidden="true" style="color: #fff"></i>
</div>
<div>
<ul>
<li><a href="index.html">HOME</a></li>
<li><a href="#">PRECAUTIONS</a></li>
<li><a href="#">NEWS</a></li>
<li><a href="#">CONTACT US</a></li>
</ul>
<img src="1.jpg" height="500px" width="700px">
<h6>STAY HOME! STAY SAFE!</h6>
</div>
</body>
</html>