@import "https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css";

.container
{
display: grid;
grid-template-columns: 50% 50%;
grid-gap: 1px;
}

.container > div
{
background-color: #fff;
padding: 1em;
}

.container > div:nth-child(odd)
{
background-color: #000000;
padding: 1em;
}

ul
{
float: right;
list-style-type: none;
justify-content: space-between;
margin-right: 40px;
margin: auto;
}

ul li
{
display: inline-block;
margin-right: 20px;
}

ul li a
{
text-decoration: none;
font-family: calibri;
font-weight: bold;
color: #000000;
padding: 12px 20px;
margin: 8px 0;
border-top-right-radius: 10px;
border-bottom-left-radius: 10px;
}

ul li a:hover
{
background-color: #000000;
border-top-right-radius: 10px;
border-bottom-left-radius: 10px;
color: #fff;
}

h5
{
font-family: Impact, fantasy;
font-size: 20px;
margin-top: 0%;
margin-left: 0%;
font-weight: bold;
color: #fff;
}

h1
{
font-family: Impact, fantasy;
font-weight: bold;
color: white;
margin-left: 10%;
font-size: 40px;
}

p
{
font-family: calibri;
font-weight: bold;
color: white;
margin-left: 10%;
}

li a
{
text-decoration: none;
font-family: calibri;
font-weight: bold;
color: #000000;
padding: 12px 20px;
margin-left: 10%;
background-color: #fff;
border-radius: 20px;
}

h2
{
font-family: calibri;
font-weight: bold;
color: white;
margin-left: 10%;
font-size: 15px;
margin-top: 10%;
}

ul1
{
float: left;
list-style-type: none;
margin-left: 8%;
}

ul1 li a2
{
text-decoration: none;
font-family: calibri;
font-weight: bold;
color: #fff;
padding: 12px 20px;
margin: 8px 0;
border-top-right-radius: 10px;
border-bottom-left-radius: 10px;
margin-right: auto;
}

img
{
margin-top: 10%;
align-items: center;
margin-left: auto;
}

h6
{
font-family: Impact, fantasy;
font-weight: bold;
color: #000000;
text-align: center;
font-size: 20px;
}

i
{
margin-left: 5%;
justify-content: space-between;
align-items: left;
padding: 10px 10px;
}

header1 img
{
margin-left: 90%;
margin-top: -40%;
}
