<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<link rel="stylesheet" type="text/css" href="style1.css">
<title>CARDS</title>
</head>
<body>
<div class="slide-container">
<div class="wrapper">
<div class="clash-card barbarian">
<div class="clash-card_image clash-card_image--barbarian">
<img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/195612/barbarian.png" alt="barbarain"/>
</div>
<div class="clash-card_level clash-card_level--barbarian">LEVEL 4</div>
<div class="clash-card_unit-name">THE Barbarian</div>
<div class="clash-card_unit-description">
The Barbarian is a kilt-clad Scottish warrior with an angery, battle-ready expression, hungry for destruction. He has Killeryellow horseshoe mustache.
</div>
<div class="clash-card_unit-stats clash-card_unit-stats--barbarian clearfix">
<div class="one-third">
<div class="stat">20<sup>S</sup></div>
<div class="stat-value">Training</div>
</div>
<div class="one-third">
<div class="stat">16</div>
<div class="stat-value">Speed</div>
</div>
<div class="one-third no-border">
<div class="stat">150</div>
<div class="stat-value">Cost</div>
</div>
</div>
</div>
</div>
</div>
<div class="slide-container">
<div class="wrapper1">
<div class="clash-card goblin">
<div class="clash-card_image clash-card_image--goblin">
<img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/195612/goblin.png" alt="Archer"/>
</div>
<div class="clash-card_level clash-card_level--goblin">LEVEL 5</div>
<div class="clash-card_unit-name">THE Goblin</div>
<div class="clash-card_unit-description">
These pesky little creatures only have eyes for one thing: LOOT! They are faster than a Spring Trap, and their hunger for resources is limitless. 
</div>
<div class="clash-card_unit-stats clash-card_unit-stats--goblin clearfix">
<div class="one-third">
<div class="stat">30<sup>S</sup></div>
<div class="stat-value">Training</div>
</div>
<div class="one-third">
<div class="stat">32</div>
<div class="stat-value">Speed</div>
</div>
<div class="one-third no-border">
<div class="stat">100</div>
<div class="stat-value">Cost</div>
</div>
</div>
</div>
</div>
</div>
</body>
</html>
