<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<link rel="stylesheet" type="text/css" href="style.css">
<title>CARDS</title>
</head>
<body>
<div class="slide-container">
<div class="wrapper">
<div class="clash-card giant">
<div class="clash-card_image clash-card_image--giant">
<img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/195612/giant.png" alt="giant" style="margin-top:-10%"/>
</div>
<div class="clash-card_level clash-card_level--giant">LEVEL 5</div>
<div class="clash-card_unit-name">THE GIANT</div>
<div class="clash-card_unit-description">
SLow, steady and powerful, Giants are massive warriers that soak up huge amounts of damage, show them a turret or cannon and you'll see their fury unleashed!
</div>
<div class="clash-card_unit-stats clash-card_unit-stats--giant clearfix">
<div class="one-third">
<div class="stat">2<sup>M</sup></div>
<div class="stat-value">Training</div>
</div>
<div class="one-third">
<div class="stat">12</div>
<div class="stat-value">Speed</div>
</div>
<div class="one-third no-border">
<div class="stat">2250</div>
<div class="stat-value">Cost</div>
</div>
</div>
</div>
</div>
</div>
<div class="slide-container">
<div class="wrapper1">
<div class="clash-card wizard">
<div class="clash-card_image clash-card_image--wizard">
<img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/195612/wizard.png" alt="Wizard" style="margin-top:-10%"/>
</div>
<div class="clash-card_level clash-card_level--wizard">LEVEL 6</div>
<div class="clash-card_unit-name">THE WIZARD</div>
<div class="clash-card_unit-description">
The Wizard is a terrifying presence on the battlefield. Pair him up with some of his fellows and cast concentrated blasts of destruction on anything, land or sky!
</div>
<div class="clash-card_unit-stats clash-card_unit-stats--wizard clearfix">
<div class="one-third">
<div class="stat">5<sup>M</sup></div>
<div class="stat-value">Training</div>
</div>
<div class="one-third">
<div class="stat">16</div>
<div class="stat-value">Speed</div>
</div>
<div class="one-third no-border">
<div class="stat">4000</div>
<div class="stat-value">Cost</div>
</div>
</div>
</div>
</div>
</div>
</body>
</html>
