<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta http-equiv = "X-UA-Compatible" content="ie=edge">
<title>Wanderlast</title>
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/css/all.min.css" integrity="sha256-h20CPZ0QyXlBuAw7A+KluUYx/3pK+c7lYEpqLTlxjYQ=" crossorigin="anonymous" />
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.carousel.min.css" integrity="sha256-UhQQ4fxEeABh4JrcmAJ1+16id/1dnlOEVCFOxDef9Lw=" crossorigin="anonymous" />
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.theme.default.min.css" integrity="sha256-kksNxjDRxd/5+jGurZUJd1sdR2v+ClrCl3svESBaJqw=" crossorigin="anonymous" />
<link rel="stylesheet" href="style1.css">
</head>
<body>
<header>
<nav class="navbar navbar-expand-lg navbar-dark" style="background-color: #000;">
  <a class="navbar-brand" href="#" style="font-weight: bold; font-family: rale, cursive; font-size: 1.5rem;">JORDAN</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav" style="color: #fff;">
    <ul class="navbar-nav m-auto" style="font-family: calibri;">
      <li class="nav-item active">
        <a class="nav-link" href="#">Home</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Category</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Guide</i></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Learn More</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Contact </i></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Sign in</a>
      </li>
    </ul>
  </div>
</nav>
</header>
<section id="banner">
<div id="container">
<img src="FBo4Li.jpg" class="img-fluid"/>
</div>
</section>
<section id="top-sale">
<div class="container py-5 text-white">
<h4 id="title-2">Top Sale</h4>
<hr class="border-white">
<div class="owl-carousel owl-theme">
<div class="item py-2">
<div class="product">
<a href="#"><img src="A-1.jpg" alt="product1" class="img-fluid"></a>
<div class="text-center">
<h6 id="title-3">Jordan-1</h6>
<div class="rating text-warning">
<span><i class="fas fa-star"></i></span>
<span><i class="fas fa-star"></i></span>
<span><i class="fas fa-star"></i></span>
<span><i class="fas fa-star"></i></span>
<span><i class="far fa-star"></i></span>
</div>
<div class="price py-2">
<span>$152</span>
</div>
<button type="submit" class="btn btn-warning">Add to Cart</button>
</div>
</div>
</div>
<div class="item py-2">
<div class="product">
<a href="#"><img src="A-2.jpg" alt="product1" class="img-fluid"></a>
<div class="text-center">
<h6 id="title-3">Jordan-2</h6>
<div class="rating text-warning">
<span><i class="fas fa-star"></i></span>
<span><i class="fas fa-star"></i></span>
<span><i class="fas fa-star"></i></span>
<span><i class="fas fa-star"></i></span>
<span><i class="far fa-star"></i></span>
</div>
<div class="price py-2">
<span>$210</span>
</div>
<button type="submit" class="btn btn-warning">Add to Cart</button>
</div>
</div>
</div>
<div class="item py-2">
<div class="product">
<a href="#"><img src="A-3.jpg" alt="product1" class="img-fluid"></a>
<div class="text-center">
<h6 id="title-3">Jordan-3</h6>
<div class="rating text-warning">
<span><i class="fas fa-star"></i></span>
<span><i class="fas fa-star"></i></span>
<span><i class="fas fa-star"></i></span>
<span><i class="fas fa-star"></i></span>
<span><i class="far fa-star"></i></span>
</div>
<div class="price py-2">
<span>$160</span>
</div>
<button type="submit" class="btn btn-warning">Add to Cart</button>
</div>
</div>
</div>
<div class="item py-2">
<div class="product">
<a href="#"><img src="A-4.jpg" alt="product1" class="img-fluid"></a>
<div class="text-center">
<h6 id="title-3">Jordan-4</h6>
<div class="rating text-warning">
<span><i class="fas fa-star"></i></span>
<span><i class="fas fa-star"></i></span>
<span><i class="fas fa-star"></i></span>
<span><i class="fas fa-star"></i></span>
<span><i class="far fa-star"></i></span>
</div>
<div class="price py-2">
<span>$260</span>
</div>
<button type="submit" class="btn btn-warning">Add to Cart</button>
</div>
</div>
</div>
<div class="item py-2">
<div class="product">
<a href="#"><img src="A-5.jpg" alt="product1" class="img-fluid"></a>
<div class="text-center">
<h6 id="title-3">Jordan-5</h6>
<div class="rating text-warning">
<span><i class="fas fa-star"></i></span>
<span><i class="fas fa-star"></i></span>
<span><i class="fas fa-star"></i></span>
<span><i class="fas fa-star"></i></span>
<span><i class="far fa-star"></i></span>
</div>
<div class="price py-2">
<span>$170</span>
</div>
<button type="submit" class="btn btn-warning">Add to Cart</button>
</div>
</div>
</div>
<div class="item py-2">
<div class="product">
<a href="#"><img src="A-6.jpg" alt="product1" class="img-fluid"></a>
<div class="text-center">
<h6 id="title-3">Jordan-6</h6>
<div class="rating text-warning">
<span><i class="fas fa-star"></i></span>
<span><i class="fas fa-star"></i></span>
<span><i class="fas fa-star"></i></span>
<span><i class="fas fa-star"></i></span>
<span><i class="far fa-star"></i></span>
</div>
<div class="price py-2">
<span>$210</span>
</div>
<button type="submit" class="btn btn-warning">Add to Cart</button>
</div>
</div>
</div>
<div class="item py-2">
<div class="product">
<a href="#"><img src="A-9.jpg" alt="product1" class="img-fluid"></a>
<div class="text-center">
<h6 id="title-3">Jordan-7</h6>
<div class="rating text-warning">
<span><i class="fas fa-star"></i></span>
<span><i class="fas fa-star"></i></span>
<span><i class="fas fa-star"></i></span>
<span><i class="fas fa-star"></i></span>
<span><i class="far fa-star"></i></span>
</div>
<div class="price py-2">
<span>$270</span>
</div>
<button type="submit" class="btn btn-warning">Add to Cart</button>
</div>
</div>
</div>
<div class="item py-2">
<div class="product">
<a href="#"><img src="A-10.jpg" alt="product1" class="img-fluid"></a>
<div class="text-center">
<h6 id="title-3">Jordan-8</h6>
<div class="rating text-warning">
<span><i class="fas fa-star"></i></span>
<span><i class="fas fa-star"></i></span>
<span><i class="fas fa-star"></i></span>
<span><i class="fas fa-star"></i></span>
<span><i class="far fa-star"></i></span>
</div>
<div class="price py-2">
<span>$180</span>
</div>
<button type="submit" class="btn btn-warning">Add to Cart</button>
</div>
</div>
</div>
<div class="item py-2">
<div class="product">
<a href="#"><img src="A-7.jpg" alt="product1" class="img-fluid"></a>
<div class="text-center">
<h6 id="title-3">Jordan-9</h6>
<div class="rating text-warning">
<span><i class="fas fa-star"></i></span>
<span><i class="fas fa-star"></i></span>
<span><i class="fas fa-star"></i></span>
<span><i class="fas fa-star"></i></span>
<span><i class="far fa-star"></i></span>
</div>
<div class="price py-2">
<span>$235</span>
</div>
<button type="submit" class="btn btn-warning">Add to Cart</button>
</div>
</div>
</div>
<div class="item py-2">
<div class="product">
<a href="#"><img src="A-8.jpg" alt="product1" class="img-fluid"></a>
<div class="text-center">
<h6 id="title-3">Jordan-10</h6>
<div class="rating text-warning">
<span><i class="fas fa-star"></i></span>
<span><i class="fas fa-star"></i></span>
<span><i class="fas fa-star"></i></span>
<span><i class="fas fa-star"></i></span>
<span><i class="far fa-star"></i></span>
</div>
<div class="price py-2">
<span>$165</span>
</div>
<button type="submit" class="btn btn-warning">Add to Cart</button>
</div>
</div>
</div>
</div>
<!-- !Owl Carousel-->
</div>
</section>
<section id="special-price">
<div class="container">
<h4 id="title-7" style="color: #fff;">Special Price</h4>
<hr class="border-white">
<div id="filter" class="button-group w-auto m-auto">
<button class="btn is-checked" data-filter="*" style="color: #fff;">All Brand</button>
<button class="btn" data-filter=".Low" style="color: #fff;">Low</button>
<button class="btn" data-filter=".Medium" style="color: #fff;">Medium</button>
<button class="btn" data-filter=".High" style="color: #fff;">High</button>
</div>
<div class="grid">
<div class="grid-item Low border">
<div class="item py-2" style="width: 200px; margin-top: 0;">
<div class="product font-rale">
<a href="#"><img src="A-1.jpg" alt="product1" class="img-fluid"></a>
<div class="text-center">
<h6>Jordan-1</h6>
<div class="rating text-warning font-size-12">
<span><i class="fas fa-star"></i></span>
<span><i class="fas fa-star"></i></span>
<span><i class="fas fa-star"></i></span>
<span><i class="fas fa-star"></i></span>
<span><i class="far fa-star"></i></span>
</div>
<div class="price py-2">
<span>$152</span>
</div>
<button type="submit" class="btn btn-warning font-size-12">Add to Cart</button>
</div>
</div>
</div>
</div>
<div class="grid-item Medium border">
<div class="item py-2" style="width: 200px;">
<div class="product font-rale">
<a href="#"><img src="A-2.jpg" alt="product1" class="img-fluid"></a>
<div class="text-center">
<h6>Jordan-2</h6>
<div class="rating text-warning font-size-12">
<span><i class="fas fa-star"></i></span>
<span><i class="fas fa-star"></i></span>
<span><i class="fas fa-star"></i></span>
<span><i class="fas fa-star"></i></span>
<span><i class="far fa-star"></i></span>
</div>
<div class="price py-2">
<span>$210</span>
</div>
<button type="submit" class="btn btn-warning font-size-12">Add to Cart</button>
</div>
</div>
</div>
</div>
<div class="grid-item Low border">
<div class="item py-2" style="width: 200px;">
<div class="product font-rale">
<a href="#"><img src="A-3.jpg" alt="product1" class="img-fluid"></a>
<div class="text-center">
<h6>Jordan-3</h6>
<div class="rating text-warning font-size-12">
<span><i class="fas fa-star"></i></span>
<span><i class="fas fa-star"></i></span>
<span><i class="fas fa-star"></i></span>
<span><i class="fas fa-star"></i></span>
<span><i class="far fa-star"></i></span>
</div>
<div class="price py-2">
<span>$160</span>
</div>
<button type="submit" class="btn btn-warning font-size-12">Add to Cart</button>
</div>
</div>
</div>
</div>
<div class="grid-item High border">
<div class="item py-2" style="width: 200px;">
<div class="product font-rale">
<a href="#"><img src="A-4.jpg" alt="product1" class="img-fluid"></a>
<div class="text-center">
<h6>Jordan-4</h6>
<div class="rating text-warning font-size-12">
<span><i class="fas fa-star"></i></span>
<span><i class="fas fa-star"></i></span>
<span><i class="fas fa-star"></i></span>
<span><i class="fas fa-star"></i></span>
<span><i class="far fa-star"></i></span>
</div>
<div class="price py-2">
<span>$260</span>
</div>
<button type="submit" class="btn btn-warning font-size-12">Add to Cart</button>
</div>
</div>
</div>
</div>
<div class="grid-item Low border">
<div class="item py-2" style="width: 200px;">
<div class="product font-rale">
<a href="#"><img src="A-5.jpg" alt="product1" class="img-fluid"></a>
<div class="text-center">
<h6>Jordan-5</h6>
<div class="rating text-warning font-size-12">
<span><i class="fas fa-star"></i></span>
<span><i class="fas fa-star"></i></span>
<span><i class="fas fa-star"></i></span>
<span><i class="fas fa-star"></i></span>
<span><i class="far fa-star"></i></span>
</div>
<div class="price py-2">
<span>$170</span>
</div>
<button type="submit" class="btn btn-warning font-size-12">Add to Cart</button>
</div>
</div>
</div>
</div>
<div class="grid-item Medium border">
<div class="item py-2" style="width: 200px;">
<div class="product font-rale">
<a href="#"><img src="A-6.jpg" alt="product1" class="img-fluid"></a>
<div class="text-center">
<h6>Jordan-6</h6>
<div class="rating text-warning font-size-12">
<span><i class="fas fa-star"></i></span>
<span><i class="fas fa-star"></i></span>
<span><i class="fas fa-star"></i></span>
<span><i class="fas fa-star"></i></span>
<span><i class="far fa-star"></i></span>
</div>
<div class="price py-2">
<span>$210</span>
</div>
<button type="submit" class="btn btn-warning font-size-12">Add to Cart</button>
</div>
</div>
</div>
</div>
<div class="grid-item Medium border">
<div class="item py-2" style="width: 200px;">
<div class="product font-rale">
<a href="#"><img src="A-7.jpg" alt="product1" class="img-fluid"></a>
<div class="text-center">
<h6>Jordan-7</h6>
<div class="rating text-warning font-size-12">
<span><i class="fas fa-star"></i></span>
<span><i class="fas fa-star"></i></span>
<span><i class="fas fa-star"></i></span>
<span><i class="fas fa-star"></i></span>
<span><i class="far fa-star"></i></span>
</div>
<div class="price py-2">
<span>$235</span>
</div>
<button type="submit" class="btn btn-warning font-size-12">Add to Cart</button>
</div>
</div>
</div>
</div>
<div class="grid-item Low border">
<div class="item py-2" style="width: 200px;">
<div class="product font-rale">
<a href="#"><img src="A-8.jpg" alt="product1" class="img-fluid"></a>
<div class="text-center">
<h6>Jordan-8</h6>
<div class="rating text-warning font-size-12">
<span><i class="fas fa-star"></i></span>
<span><i class="fas fa-star"></i></span>
<span><i class="fas fa-star"></i></span>
<span><i class="fas fa-star"></i></span>
<span><i class="far fa-star"></i></span>
</div>
<div class="price py-2">
<span>$165</span>
</div>
<button type="submit" class="btn btn-warning font-size-12">Add to Cart</button>
</div>
</div>
</div>
</div>
<div class="grid-item High border">
<div class="item py-2" style="width: 200px;">
<div class="product font-rale">
<a href="#"><img src="A-9.jpg" alt="product1" class="img-fluid"></a>
<div class="text-center">
<h6>Jordan-9</h6>
<div class="rating text-warning font-size-12">
<span><i class="fas fa-star"></i></span>
<span><i class="fas fa-star"></i></span>
<span><i class="fas fa-star"></i></span>
<span><i class="fas fa-star"></i></span>
<span><i class="far fa-star"></i></span>
</div>
<div class="price py-2">
<span>$270</span>
</div>
<button type="submit" class="btn btn-warning font-size-12">Add to Cart</button>
</div>
</div>
</div>
</div>
<div class="grid-item Low border">
<div class="item py-2" style="width: 200px;">
<div class="product font-rale">
<a href="#"><img src="A-10.jpg" alt="product1" class="img-fluid"></a>
<div class="text-center">
<h6>Jordan-10</h6>
<div class="rating text-warning font-size-12">
<span><i class="fas fa-star"></i></span>
<span><i class="fas fa-star"></i></span>
<span><i class="fas fa-star"></i></span>
<span><i class="fas fa-star"></i></span>
<span><i class="far fa-star"></i></span>
</div>
<div class="price py-2">
<span>$180</span>
</div>
<button type="submit" class="btn btn-warning font-size-12">Add to Cart</button>
</div>
</div>
</div>
</div>
</div>
</div>
</section><br><br>
<footer id="footer" class="bg-dark text-white py-5">
<div class="container">
<div class="row">
<div class="col-lg-3 col-12">
<h4 class="font-rubik font-size-20">Jordan Shoes</h4>
<p class="font-rale font-size-14 text-white-50">lorem20 lorem lorem lorem lorem lorem lorem lorem lorem lorem lorem lorem lorem lorem lorem lorem lorem lorem lorem lorem lorem lorem</p>
</div>
<div class="col-lg-4 col-12">
<h4 class="font-rubik font-size-20">NewsLetter</h4>
<form class="form-row">
<div class="col">
<input type="text" class="form-control" placeholder="Email: *">
</div>
<div class="col">
<button type="submit" class="btn btn-primary mb-2">Subscribe</button>
</div>
</form>
</div>
<div class="col-lg-2 col-12">
<h4 class="font-rubik font-size-20">Information</h4>
<div class="d-flex flex-column flex-wrap">
<a href="#" class="font-rale font-size-14 text-white-50 pb-1">About Us</a> 
<a href="#" class="font-rale font-size-14 text-white-50 pb-1">Delivery</a>
<a href="#" class="font-rale font-size-14 text-white-50 pb-1">Privacy Policy</a>
<a href="#" class="font-rale font-size-14 text-white-50 pb-1">Terms & Condition</a>
</div>
</div>
<div class="col-lg-2 col-2">
<h4 class="font-rubik font-size-20">Account</h4>
<a href="#" class="font-rale font-size-14 text-white-50 pb-1">My Account</a> 
<a href="#" class="font-rale font-size-14 text-white-50 pb-1">Order History</a>
<a href="#" class="font-rale font-size-14 text-white-50 pb-1">WishList</a>
<a href="#" class="font-rale font-size-14 text-white-50 pb-1">TNewsLetter</a>
</div>
</div>
</div>
</footer>
<div class="copyright text-center bg-dark text-white py-2">
<p class="font-size-14 font-rale">&copy; Copyrights 2020. Designed By <a href="#" class="color-second font-size-14">Ishan Gawali</a></p>
</div>
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/owl.carousel.min.js" integrity="sha256-pTxD+DSzIwmwhOqTFN+DB+nHjO4iAsbgfyFq5K5bcE0=" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.isotope/3.0.6/isotope.pkgd.min.js" integrity="sha256-CBrpuqrMhXwcLLUd5tvQ4euBHCdh7wGlDfNz8vbu/iI=" crossorigin="anonymous"></script>
<script>
$(document).ready(function(){
    $("#top-sale .owl-carousel").owlCarousel({
loop: true,
nav: true,
dots: false,
responsive: {
0:{
items: 1,
}, 
600:{
items: 3,    
},
1000:{
items: 5,
}
}
});

var $grid = $(".grid").isotope({
itemSelector: '.grid-item',
layoutMode: 'fitRows'
});

$(".button-group").on("click", "button", function(){
var filterVar = $(this).attr("data-filter");    
$grid.isotope({filter: filterVar});
});

$("#new-phones .owl-carousel").owlCarousel({
loop: true,
nav: false,
dots: true,
responsive: {
0:{
items: 1,
}, 
600:{
items: 3,    
},
1000:{
items: 5,
}
}
});
})
</script>
</body>
</html>