<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<link rel="stylesheet" type="text/css" href="style.css">
<title>NIKE</title>
</head>
<body>
<div class="container">
<div class="box box1">
<img src="5.jpg" height="50" width="100">
<ul>
<li><a href="#">MENS</a></li>
<li><a href="#">WOMENS</a></li>
</ul>
<header>
<img src="4.jpg" height="300" width="300">
<h3>JUST DO IT.</h3>
<h1>NI<br>KE</h1>
</div>
<div class="box box2">
<ul3>
<li><a href="#"><i class="fa fa-play" aria-hidden="true" style="color: #fff"></i></a></li>
</ul3>
</div>
<div class="box box3">
<div>
<ul1>
<li><i class="fa fa-search" aria-hidden="true" style="color: #fff"><a href="#"></i></a></li>
</ul1>
</div>
<div>
<ul2>
<li><a href="#"><i class="fa fa-instagram" aria-hidden="true" style="color: #fff"></i></a></li><br><br><br><br>
<li><a href="#"><i class="fa fa-facebook-official" aria-hidden="true" style="color: #fff"></i></a></li><br><br><br><br>
<li><a href="#"><i class="fa fa-twitter" aria-hidden="true" style="color: #fff"></i></a></li>
</ul2>
</div>
</div>
</body>
</html>