<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<link rel="stylesheet" type="text/css"  href="style.css">
<title>DASH</title>
</head>
<body>
<ul>
<li><a href="#">HOME</a></li>
<li><a href="#">SERVICE</a></li>
<li><a href="#">PORTFOLIO</a></li>
<li><a href="#">CONTACT US</a></li>
</ul>
<h1>HIMALAYAS</h1><br><br>
<h2>INDIA-THE<br>HIMALAYAS</h2>
<p>The Himalayas, or Himalaya, is a mountain range in Asia separating the plains of the Indian subcontinent from the Tibetian Plateau.<br>The range has many of Earth's highest peaks, inclduing the highest, Mount Everest.<br>THe Himalayas inlcude over fifty moungtains ecxceeding 7200m in elevation, including ten of the fourteen 8000 metre peaks. By Contrast,<br>the highest peak outside Asia is 6961m tall.</p><br><br>
<li><a href="#">MORE INFO</a></li>
<p>----------------------------------------</p>
<ul1>
<li><a href="#"><i class="fa fa-thermometer-empty" aria-hidden="true"></i></a></li>
<li><a href="#"><i class="fa fa-snowflake-o" aria-hidden="true"></i></a></li>
<li><a href="#"><i class="fa fa-location-arrow" aria-hidden="true"></i></a></li>
</ul1>
<ul2>
<li><a href="#">PREVIOUS</a></li>
<li><a href="#">NEXT</a></li>
<ul2>
</body>
</html>
