<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<link rel="stylesheet" type="text/css" href="style.css">
<title>DOGS</title>
</head>
<body>
<div class="container">
<div class="box box1">
<i class="fa fa-bars" aria-hidden="true" style="color: #fff"></i><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
<h2>FASHIONABLE</h2>
<ul>
<li><a href="#"><i class="fa fa-instagram" aria-hidden="true" style="color: #fff"></i></a></li>
<li><i class="fa fa-facebook-official" aria-hidden="true" style="color: #fff"></i></a></li>
<li><i class="fa fa-twitter" aria-hidden="true" style="color: #fff"></i></a></li>
</ul>
</div>
<div class="box box2">
<h1>TOSHI</h1>
<img src="2.jpg" width="670px" height="780px" style="margin-bottom: -5%">
</div>
<div class="box box3">
<ul1>
<li><a href="#">MEMES</a></li>
<li><a href="#">HISTORY</a></li>
<li><a href="#">MEECHANDINING</a></li>
<li><i class="fa fa-search" aria-hidden="true"></i></a></li>
<li><i class="fa fa-shopping-cart" aria-hidden="true"></i></a></li>
</ul1>
<h3>TOSHI<br>THE BLACK<br>PUG</h3>
<p>The pug is a breed of dog with physically distinctive features of a wrinkly, short-muzzled face, and curled tail. The breed has a fine, glossy coat that comes in a variety of colours, most often fawn or black, and a compact square body with well-developed muscles.Pugs were brought from China to Europe in the sixteenth century and were popularized in Western Europe by the House of Orange of the Netherlands, and the House of Stuart.[2] In the United Kingdom, in the nineteenth century, Queen Victoria developed a passion for pugs which she passed on to other members of the Royal family.</p>
<ul2>
<li><a href="#">SEE MORE</a><i class="fa fa-chevron-circle-down" aria-hidden="true" style="font-size: 20px"></i></li><br><br><br><br><br>
</ul2>
</div>
<div class="box box4">
<div>
<header>
<img src="3.jpg" width="300px" height="280px">
</header>
</div>
<div>
<header1>
<img src="4.jpg" width="250px" height="280px">
</header1>
</div>
<div>
<ul4>
<li><a href="#">CHECK THIS COLLECTION HERE</a></li>
</ul4>
</div>
</div>
</div>
</body>
</html>