<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="https://fonts.googleapis.com/css2?family=Dosis:wght@500&family=Open+Sans&family=Roboto:wght@300&display=swap" rel="stylesheet">    <link rel="stylesheet" href="./3dCard.css" />
</head>
<body>
    <h4 style="color: red;">*Please note this card works only on desktop</h4>
    <div class="container">
        <div class="card">
            <div class="circle">   </div>
            <img id="shoe" src="./shoes-removebg-preview.png" alt=""  >
            <h2 id="title" class="title">NIKE AIRE MAX PRO</h2>
            <h4 id="desc">The ultra-responsive Nike Air Zoom Tempo Next FlyEase is designed to help you get the most from your training runs, </h4>
           <div class="sizes" id="sizes">
               <div>48</div>
               <div>65</div>
               <div>78</div>
               <div>88</div>

           </div>   
           <button type="button" id="btn" class="btn">ADD TO CART</button> 
        </div>
    </div>
    <script src="./3dCard.js"></script>
</body>
</html>