body {
  background-color: #1b1b1b;
}

#layout {
  min-height: 100vh;
}

#layout #card-view, #layout #card-form {
  padding: 20px;
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.sidenav-trigger {
  -ms-flex-item-align: start;
      align-self: flex-start;
}

#CardEdit {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.card {
  width: 320px;
  min-height: 520px;
  border-radius: 20px;
  padding-top: 20px;
  margin: 100px auto;
  background-color: #181817;
  -webkit-box-shadow: 4px 2px 8px rgba(0, 0, 0, 0.493);
          box-shadow: 4px 2px 8px rgba(0, 0, 0, 0.493);
  text-align: center;
}

.profile-image {
  width: 200px;
  height: 200px;
  margin: 20px auto;
  -webkit-box-shadow: 4px 2px 8px rgba(0, 0, 0, 0.829);
          box-shadow: 4px 2px 8px rgba(0, 0, 0, 0.829);
  border-radius: 50%;
  background-position: center;
  background-size: cover;
}

#profile-name {
  font-size: 1.5rem;
  margin: 20px auto;
  color: aliceblue;
  font-family: 'Oswald', sans-serif;
}

.profile-description {
  text-align: left;
  font-weight: bold;
  color: #cccccc;
  opacity: 0.8;
  padding: 0px 20px;
}

.profile-btn {
  padding: 10px  30px;
  margin: 20px auto;
  border-radius: 15px;
  border: none;
  -webkit-box-shadow: 2px 2px 8px rgba(245, 223, 22, 0.336);
          box-shadow: 2px 2px 8px rgba(245, 223, 22, 0.336);
  background-color: rgba(243, 224, 53, 0.911);
  font-family: 'Roboto Slab', serif;
}
